services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: finance_sqlserver
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Developer"
      SA_PASSWORD: "YourStrong!Passw0rd"
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql

  db-init:
    build:
      context: ./db-init
    depends_on:
      - db
    restart: "no"

volumes:
  mssql_data:
